/build/
/OpenCOOD.egg-info/
/opencood/logs/
/build/
/pypcd/
lidar_spatial_features/
psm/
radar_spatial_features/
radar_spatial_features
rm/
logs/
*.so
*.pyc
__pycache__/
build/
*.egg-info/
logs/
outputs/
