cmake==3.31.4
easydict==1.13
numpy==1.20.0
numba==0.49.0
opencv-python==4.5.2.52
matplotlib==3.3.4
scipy==1.6.3
scikit-image==0.19.3
tqdm==4.67.1
pyyaml==6.0.1
open3d==0.17.0
cython==3.0.12
tensorboardX==2.6.2.2
shapely==1.8.4
einops==0.6.1
efficientnet_pytorch==0.7.1
mmcv==2.2.0
timm==0.9.12